<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Index</title>
</head>
<body>
    <h1>Unsere ToDo App</h1>
    <p>Ein toller Text, der unsere noch viel tollere ToDo App vorstellt. Es wird erklärt welches Problem die App löst und warum unsere app die tollste ist.</p>
    <div>
        <img src="some.png" alt="Ein Stockimage von glücklichen Menschen die unsere App benutzen.">
        <p>Eine Erklärung von noch mehr vorteilen von dieser App.</p>
    </div>
</body>
</html>